* {
  padding: 0;
  margin: 0;
}

.App {
  padding: 20px;
}

.App h1 {
  text-align: center;
}

.App .searchForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.searchForm input {
  width: 80%;
  height: 35px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 0 5px;
}

#searchText {
  border: solid 1px gray;
  background: rgb(235, 235, 169);
}

#searchText:focus {
  background: white;
  outline: none;
}

#searchBtn {
  background: black;
  color: white;
  border: 0;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}