* {
  padding: 0;
  margin: 0;
}

.App {
  padding: 20px;
  text-align: center;
}

.App h1 {
  text-align: center;
}

.App .searchForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.searchForm input {
  width: 80%;
  height: 35px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 0 5px;
}

#searchText {
  border: solid 1px gray;
  background: rgb(235, 235, 169);
}

#searchText:focus {
  background: white;
  outline: none;
}

#searchBtn {
  background: black;
  color: white;
  border: 0;
}

#searchBtn:hover{
  background: whitesmoke;
  color: black;
  border: solid 1px gray;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(185, 205, 243);
  padding: 10px;
  margin: 10px 0;
}

.title:hover{
  transform: scale(1.1);
}

.title img {
  display: block;
  max-width: 100%;
  height: auto;
  border: solid 5px rgb(233, 231, 231);
  border-radius: 3px;
}

.title p {
  font-size: 1.1rem;
}

.recipe > ul > li{
  font-size: 1.1rem;
  list-style: none;
  background: rgb(84, 138, 236);
  color: white;
  margin: 0.5em 0;
  padding: 4px;
  border-radius: 4px;
}

ul > li:hover {
  background: black;
  color: white;
}

.recipe a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.recipe a:hover{
  color: red;
}

.recipe a:visited{
  color: rgb(250, 77, 106);
}

/* Responsiveness - Desktop */

@media only screen and (min-width: 600px) and (max-width: 1024px){
  .App .searchForm{
    width: 70%;
  }
}

@media only screen and (min-width: 1025px){
  .App .searchForm{
    width: 50%;
  }
}

@media only screen and (min-width: 600px){
  .App .searchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #searchText{
    width: 60%;
    border-radius: 6px 0 0 6px;
  }

  #searchBtn{
    width: 20%;
    border-radius: 0 6px 6px 0;
  }

  .App .recipeContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .recipe {
    justify-content: flex-start;
    width: 30%;
  }

  .recipe > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .recipe > ul > li {
    margin-right: 10px;
  }
}