* {
  padding: 0;
  margin: 0;
}

.App {
  padding: 20px;
}

.App h1 {
  text-align: center;
}

.App .searchForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.searchForm input {
  width: 80%;
  height: 35px;
  margin-bottom: 10px;
}

#searchText {
  border: solid 1px gray;
  border-radius: 4px;
  background: rgb(235, 235, 169);
}

#searchText:focus {
  background: white;
  outline: none;
}